h1,
p {
  font-family: Lato;
}
body {
  caret-color: transparent;
  text-align: center;
  margin: 3rem auto;
}
table {
  margin: 0 auto;
}
td {
  border: 2px solid #222;
  width: 80px;
  height: 80px;
  text-align: center;
}
.blue {
  color: blue;
}
.red {
  color: red;
}
button {
  font-size: 1.1rem;
  text-transform: capitalize;
  background-color: transparent;
  border: none;
  letter-spacing: 3px;
  cursor: pointer;
  color: red;
  margin: 1rem 0;
}
